/*-- scss:defaults --*/

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left:.5rem;
    padding-right:.5rem
  }
  
  nav .nav-item.compact .nav-link {
    padding-left:.4rem;
    padding-right:.4rem;
    font-size:1.1rem
  }
  
  .badge {
    background: #BD666D;
    font-size: 11.25px;
    display: inline-block;
    line-height: 1;
    padding: 5px 3px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    text-transform: uppercase;
    opacity: .75;
    text-decoration: none;
  }
  
  .badge:hover {
    opacity: 1;
  }

a.nounderline:link {
    text-decoration: none;
    color: #5D5C76;
}

a.nounderline:visited {
    text-decoration: none;
    color: #5D5C76;
}

a.nounderline:hover {
    text-decoration: none;
    color: #444356;
}

a.nounderline:active {
    text-decoration: none;
    color: #444356;
}