
```{=html}
<ul class="pub-list list">
<% for (const item of items) { %>
  <li class="project" <%=metadataAttrs(item) %>>
    <div class="project-content listing-pub-info">
        <p><%= item['pub-info'].reference %></p>
    </div>
    
    <a href="<%- item.path %>" class="btn btn-primary">
      Details
    </a>
    <p>
  </li>
<% } %>
</ul>

```
